<div id="layer1" class="exit-top-left-button" style="
    
">
    <h1>
        <a class="btn-hidden" (click)="logoutOrDefaultPage()">Выход</a>
    </h1>
</div>
<div class="wrapper" (click)="closeAllModals()">

    <div class="control-sidebar-bg"></div>
    <div class="panel-index main">

        <h1 class="title">возле терминала стоит машин такси: {{count}}</h1>
        <div>
            <button type="button" [ripple] (click)="entryModal()" class="btn btn-raised btn-success">Въезд авто <i class="icon-plus22 position-left"></i></button>
            <button type="button" [ripple] (click)="exitModal()" class="btn btn-raised btn-warning">Выезд авто <i class="icon-plus22 position-left"></i></button> 
        </div>

        <table class="table">
            <tbody>
                <tr *ngFor="let row of models" (click)="openModal(row)">
                    <td>
                        <img class="img_src" [src]="'/api/public/images/cars/'+row['car']['id']+'/'+row['car']['image']" width="200px" alt="">
                    </td>
                    <td class="car_name"><b>{{row['car']['car_brand']['name'] +' ' +row['car']['model']}}</b></td>
                    <!-- <td><b>{{row['car']['use_group_tariff'] && row['car']['brand']['name'] ? row['car']['brand']['name'] : ' '}}</b></td> -->
                    <ng-container *ngIf="row['type_tariff_use'] == 1 || !row['type_tariff_use']">
                        <ng-container *ngIf="row['use_custom_tariff']">
                            <td colspan="4" class="custom_tariff">{{row['custom_tariff'] ? row['custom_tariff'] : '-'}}</td>    
                        </ng-container>
                        <ng-container *ngIf="!row['use_custom_tariff']">
                            <td class="town_center">{{row['town_center'] ? row['town_center'] : '-'}}</td>
                            <td class="town">{{row['town'] ? row['town'] : '-'}}</td>
                            <td class="periphery">{{row['periphery'] ? row['periphery'] : '-'}}</td>
                            <td class="km_price">{{row['km_price'] ? row['km_price'] : '-'}}</td>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="row['type_tariff_use'] == 2">
                        <td class="starting_rate">{{row['starting_rate'] ? 'Подача '+row['starting_rate'] : '-'}}</td>
                        <td class="town_km_price">{{row['town_km_price'] ? 'Город '+row['town_km_price'] : '-'}}</td>
                        <td class="countryside_km_price">{{row['countryside_km_price'] ? 'Периферия '+row['countryside_km_price'] : '-'}}</td>
                        <td class="null_td"></td>
                    </ng-container>
                    <td class="circles" [innerHtml]="getCircles(row) | safeHtml"></td>
                </tr>    
            </tbody>
        </table>
    </div>
</div>

<div id="profile" class="modal modal-open" role="dialog" *ngIf="driver">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div id="car_name">{{carBrand['name']}} {{car['model']}} {{car['number']}}</div><button type="button" class="close close-custom" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
            <div class="col-xs-5">
                <div class="info">Информация о водителе</div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="driver_image" [src]="driver.hasImage() ? driver.getImagePath() : ''">
                    </div>
                    <div class="col-xs-6 lines">
                        <div class="name">{{driver['surname']}}</div>
                        <div class="name">{{driver['first_name']}}</div>
                        <div class="name">{{driver['patronymic']}}</div>
                        <div id="experience">Стаж за рулем - {{driver['experience']}}</div>
                        <div class="name">Телефон - {{driver['phone_number']}}</div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <div class="book" (click)="modalReviewsText()">Книга отзывов</div>
                    </div>
                    <div class="col-xs-6 stars">
                        <span class="stars-yellow" id="stars-yellow" [innerHtml]="getStars(driver['raiting']) | safeHtml"></span>
                        <span class="stars-white" id="stars-white" [innerHtml]="getWhiteStars(driver['raiting']) | safeHtml"></span>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-6">
                        <img id="car_outside_image" [src]="car['image'] ? car.getImagePath() : ''">
                        <!--<img id="car_outside_image" [src]="model['car']['image'] ? model['car'].getImagePath() : ''">-->
                    </div>
                    <div class="col-xs-6">
                        <img id="car_inside_image" [src]="carImages[0] ? carImages[0].getImagePath() : ''">
                    </div>
                </div>
            </div>
            <div class="col-xs-7" style="padding-left: 30px;">
                <div class="info">Информация об автомобиле</div>
                <br>
                <div class="row">
                    <div class="col-xs-6 lines">
                        <div>Класс автомобиля </div>
                        <div>Государственный номер</div>
                        <div>Год выпуска т.с</div>
                        <div>Количество мест </div>
                        <div>Доп.багажник на крыше</div>
                        <div>Наличие детского кресла</div>
                        <div>Оплата банковскими картами</div>
                        <div>Отчетные документы</div>
                    </div>
                    <div class="col-xs-6 lines">
                        <div id="car_class">{{car['car_class'] ? car['car_class']['name'] : "Не указан"}}</div>
                        <div id="car_number">{{car['number'] ? car['number'] : "Не указан"}}</div>
                        <div id="car_year">{{car['year'] ? car['year'] : "Не указан"}}</div>
                        <div id="car_passengers">{{car['number_of_passengers'] ? car['number_of_passengers'] : "0"}}</div>
                        <div id="car_baggage">{{getYesOrNo(car['external_baggage'])}}</div>
                        <div id="car_baby_chair">{{getYesOrNo(car['baby_chair'])}}</div>
                        <div id="car_bank_card_payment">{{getYesOrNo(car['bank_card_payment'])}}</div>
                        <div id="car_documents">{{getYesOrNo(car['report_documents'])}}</div>
                    </div>
                </div>
                <br>
                <div class="row buttons">
                    <ng-container *ngIf="parking['type_tariff_use'] == 1 || !parking['type_tariff_use']">
                        <ng-container *ngIf="parking['use_custom_tariff']">
                            <div class="button" (click)="order(parking, 'custom_tariff')">{{parking['custom_tariff']}}</div>
                        </ng-container>
                        <ng-container *ngIf="!parking['use_custom_tariff']">
                            <div class="button" (click)="order(parking, 'town_center')" *ngIf="parking['town_center']">Уфа(центр) - {{parking['town_center']}}</div>
                            <div class="button" (click)="order(parking, 'town')" *ngIf="parking['town']">Уфа - {{parking['town']}}</div>
                            <div class="button" (click)="order(parking, 'periphery')" *ngIf="parking['periphery']">Периферия - {{parking['periphery']}}</div>
                            <div class="button" (click)="order(parking, 'km_price')" *ngIf="parking['km_price']">Цена за км - {{parking['km_price']}}</div>
                        </ng-container>
                    </ng-container>
                    <ng-container *ngIf="parking['type_tariff_use'] == 2">
                        <div class="button2" *ngIf="parking['starting_rate']">Подача - {{parking['starting_rate']}}</div>
                        <div class="button" (click)="order(parking, 'town_km_price')" *ngIf="parking['town_km_price']">Цена за км(город) - {{parking['town_km_price']}}</div>
                        <div class="button" (click)="order(parking, 'countryside_km_price')" *ngIf="parking['countryside_km_price']">Цена за км(периферия) - {{parking['countryside_km_price']}}</div>
                    </ng-container>
                </div>
            </div>
        </div>
    </div>
    </div>
  </div>
</div>
<div class="modal modal-font" id="entry" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Вьезд авто</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="#" [formGroup]="entryModel" class="form-horizontal">
            <div class="modal-body">
                <div [ngClass]="hasError('car_id')" class="form-group">
                    <label class="control-label col-sm-3">Автомобиль</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="car_id_select" formControlName="car_id">
                            <!-- <option value=""></option> -->
                            <option [value]="car['id']" *ngFor="let car of cars">
                                {{car['mark']+' '+car['model']+' '+car['number']}}
                            </option>
                        </select>
                        <span *ngIf="errors['car_id']" class="help-block">{{errors['car_id'][0]}}</span>
                    </div>
                </div>
                <div [ngClass]="hasError('driver_id')" class="form-group" *ngIf="entryModel.controls['car_id'].value">
                    <label class="control-label col-sm-3">Водитель</label>
                    <div class="col-sm-9">
                        <select class="form-control" formControlName="driver_id">
                            <option value=""></option>
                            <option [value]="driver['id']" *ngFor="let driver of drivers">
                                {{driver['first_name']+' '+driver['surname']+' '+driver['patronymic']}}
                            </option>
                        </select>
                        <span *ngIf="errors['driver_id']" class="help-block">{{errors['driver_id'][0]}}</span>
                    </div>
                </div>
                <fieldset class="content-group" *ngIf="canInputTariff(entryModel.controls['car_id'].value) && entryModel.controls['driver_id'].value">
                    <legend class="text-bold">Тарифы</legend>

                    <div [ngClass]="hasError('use_new_tariffs')" class="form-group">
                        <label class="control-label col-sm-3">Использовать новые тарифы</label>
                        <div class="col-sm-9">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" (change)="onChange()" formControlName="use_new_tariffs" [value]="1">
                                    Да
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body" [hidden]="!entryModel.controls.use_new_tariffs.value">

                    <div [ngClass]="hasError('type_tariff_use')" class="form-group">
                        <label class="col-lg-3 control-label">Использовать тарифы по зонам?</label>
                        <div class="col-lg-9">
                            <label>
                                <input type="radio" formControlName="type_tariff_use" [value]="1" >
                                Да
                            </label>
                            <span *ngIf="errors['type_tariff_use']" class="help-block">{{errors['type_tariff_use'][0]}}</span>
                        </div>
                    </div>

                    <div [hidden]="entryModel.controls.type_tariff_use.value == 2" class="panel panel-default">
                        <div class="panel-heading">
                            Тарифы по зонам
                        </div>
                        <div class="panel-body">
                            <div [ngClass]="hasError('town_center')" class="form-group">
                                <label class="col-lg-3 control-label">Уфа(центр):</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="town_center">
                                    <span *ngIf="errors['town_center']" class="help-block">{{errors['town_center'][0]}}</span>
                                </div>
                            </div>

                            <div [ngClass]="hasError('town')" class="form-group">
                                <label class="col-lg-3 control-label">Уфа:</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="town">
                                    <span *ngIf="errors['town']" class="help-block">{{errors['town'][0]}}</span>
                                </div>
                            </div>

                            <div [ngClass]="hasError('periphery')" class="form-group">
                                <label class="col-lg-3 control-label">Периферия:</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="periphery">
                                    <span *ngIf="errors['periphery']" class="help-block">{{errors['periphery'][0]}}</span>
                                </div>
                            </div>

                            <div [ngClass]="hasError('km_price')" class="form-group">
                                <label class="col-lg-3 control-label">Цена за км:</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="km_price">
                                    <span *ngIf="errors['km_price']" class="help-block">{{errors['km_price'][0]}}</span>
                                </div>
                            </div>


                            <div [ngClass]="hasError('use_custom_tariff')" class="form-group">
                                <label class="col-lg-3 control-label">Использовать единый тариф:</label>
                                <div class="col-lg-9">
                                    <input type="radio" formControlName="use_custom_tariff" id="use_custom_tariff1" [value]="0" >
                                    <label for="use_custom_tariff1">Нет</label>
                                    <input type="radio" formControlName="use_custom_tariff" id="use_custom_tariff2" [value]="1" >
                                    <label for="use_custom_tariff2">Да</label>
                                    <span *ngIf="errors['use_custom_tariff']" class="help-block">{{errors['use_custom_tariff'][0]}}</span>
                                </div>
                            </div>

                            <div class="form-group" [hidden]="entryModel.controls.use_custom_tariff == 0">
                                <label class="col-lg-3 control-label">Единый тариф:</label>
                                <div class="col-lg-9">
                                    <input type="text" class="form-control" formControlName="custom_tariff">
                                    <span *ngIf="errors['custom_tariff']" class="help-block">{{errors['custom_tariff'][0]}}</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div [ngClass]="hasError('type_tariff_use')" class="form-group">
                        <label class="col-lg-3 control-label">Использовать тарифы по километражу?</label>
                        <div class="col-lg-9">
                            <label>
                                <input type="radio" formControlName="type_tariff_use" [value]="2" >
                                Да
                            </label>
                            <span *ngIf="errors['type_tariff_use']" class="help-block">{{errors['type_tariff_use'][0]}}</span>
                        </div>
                    </div>

                    <div [hidden]="entryModel.controls.type_tariff_use.value == 1" class="panel panel-default">
                        <div class="panel-heading">
                            Тарифы по километражу
                        </div>
                        <div class="panel-body">
                            <div [ngClass]="hasError('starting_rate')" class="form-group">
                                <label class="col-lg-3 control-label">Стоимость подачи авто:</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="starting_rate">
                                    <span *ngIf="errors['starting_rate']" class="help-block">{{errors['starting_rate'][0]}}</span>
                                </div>
                            </div>

                            <div [ngClass]="hasError('town_km_price')" class="form-group">
                                <label class="col-lg-3 control-label">Стоимость поездки в городе :</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="town_km_price">
                                    <span *ngIf="errors['town_km_price']" class="help-block">{{errors['town_km_price'][0]}}</span>
                                </div>
                            </div>

                            <div [ngClass]="hasError('countryside_km_price')" class="form-group">
                                <label class="col-lg-3 control-label">Стоимость поездки за городом :</label>
                                <div class="col-lg-9">
                                    <input type="number" class="form-control" formControlName="countryside_km_price">
                                    <span *ngIf="errors['countryside_km_price']" class="help-block">{{errors['countryside_km_price'][0]}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                </fieldset>
            </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="entrySubmit()">Вьезд</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="modal_ask" role="dialog" style="top: 30%;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body" style="
            padding: 60px;
        ">
        <p>{{driver['reviews_text'] ? driver['reviews_text'] : "Ничего не найдено"}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="nope" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

<div class="modal modal-font" id="exit" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Выезд авто</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <form action="#" [formGroup]="exitModel" class="form-horizontal">
            <div class="modal-body">
                <div [ngClass]="hasError('car_exit_id')" class="form-group">
                    <label class="control-label col-sm-3">Автомобиль</label>
                    <div class="col-sm-9">
                        <select class="form-control" id="car_exit_id" formControlName="car_exit_id">
                            <!-- <option value=""></option> -->
                            <option [value]="car['id']" *ngFor="let car of carsExit">
                                {{car['mark']+' '+car['model']+' '+car['number']}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="exitSubmit()">Выезд</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<div class="hidden">
</div>