html,body { height: 100%; margin: 0px; padding: 0px; }

.login-page-container {
	margin: 0 auto 20px auto;
	width: 360px;
    padding: 0;
}

.bg-yellow {
    background-color: #FFD700;
    border-color: #FFD700;
    color: black;
}

.has-error .select2-selection {
    border-color: rgb(185, 74, 72) !important;
}

.parking-wrapper
{
    background: url(/assets/img/background.png) no-repeat center center fixed;
    font-family: cond-pro-regular;
    background-size: cover;
}

.select2-container {
    font-family: sans-serif !important;
}

@media (min-width: 769px) {
    .sidebar {
        display: table-cell;
        vertical-align: top;
        width: 220px;
        padding-right: 20px;
    }
}

ul[role="tablist"] {
  display: none !important;
}

/*.wizard > .steps {*/
  /*position: relative;*/
  /*display: none !important;*/
  /*width: 100%;*/
/*}*/
