
#ticket .border-black {
    border:1px solid black;
}
/*#ticket body, #ticket html, #ticket table{
    height: 99%;
    width: 100%;
}*/
#ticket table{
    height: 98%;
    width: 100%;
}

#text .decoration {
    font-family: Calibri; 
    font-size: 20pt;
}

@media print {
    /* здесь будут стили для печати */
    #ticket {
        font-size: 28px;
        background-color: rgb(80, 80, 80);
        font-weight: bold;
    }
}