<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Часто заказываемые такси</h3>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="limit">Кол-во записей:</label>
        <input type="text" [(ngModel)]="search.limit" name="limit"
               (change)="inputSearch()" class="form-control" id="limit"
            [value]="10">
      </div>
      <div class="form-group">
        <label for="date_from">Дата от:</label>
        <input type="date" [(ngModel)]="search.date_from" name="offset" (change)="inputSearch()" class="form-control" id="date_from">
      </div>
      <div class="form-group">
        <label for="date_to">Дата до:</label>
        <input type="date" [(ngModel)]="search.date_to" name="offset" (change)="inputSearch()" class="form-control" id="date_to">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" (click)="exportAsExcelFile('most_ordered')">Выгрузить в Excel</button>
      </div>
    </form>
  </div>
  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name ? col.name : false)"
            [ngClass]="{
                                    'sorting_asc' : col.name && col.name == sort && desc == false,
                                    'sorting_desc' : col.name && col.name == sort && desc == true,
                                    'sorting' : col.name && col.name != sort
                            }"
          >
            {{col.descr}}

          </th>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td>
            <div><b>{{row['car']['car_brand']['name']+' '+row['car']['model']+' '+row['car']['number']}}</b></div>
          </td>
          <td>
            <div>
              {{row['count']}}
            </div>
          </td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
