<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Добавить фото автомобилю<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">
    		<div [ngClass]="hasError('file')" class="form-group">
		        <label class="col-lg-3 control-label">Фото:</label>
		        <div class="col-lg-9">
		          <input type="file" class="form-control" name="fileInput" (change)="onFileChange($event)">
		          <img src="#" id="car_img">
		          <span *ngIf="errors['file']" class="help-block">{{errors['file'][0]}}</span>
		        </div>
	      	</div>

            <div class="text-left">
                <button type="submit" [ripple] class="btn btn-raised btn-success">Добавить <i class="icon-plus22 position-left"></i></button>
            </div>
        </div>
    </div>
</form>