

<!-- Page container -->
<div [ngClass]="{'hidden' : user.getUserId(), 'page-container login-page-container' : true}">

	<!-- Page content -->
	<div class="page-content">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Simple login form -->
			<form [formGroup]="model" (ngSubmit)="login()"  novalidate class="login-form">
				<div class="panel panel-body">
					<div class="text-center">
						<div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
						<h5 class="content-group">Войдите в ваш аккаунт</h5>
					</div>

					<div class="form-group has-feedback has-feedback-left">
						<div class="form-control-feedback">
							<i class="icon-user text-muted"></i>
						</div>
						<input type="text" class="form-control" formControlName="username" placeholder="Username">
						<!-- <div class="help-block">Введите логин</div> -->
					</div>

					<div class="form-group has-feedback has-feedback-left">
						<div class="form-control-feedback">
							<i class="icon-lock2 text-muted"></i>
						</div>
						<input type="password" class="form-control" formControlName="password" placeholder="Password">
						<!-- <div class="help-block">Введите пароль</div> -->
						<span class="help-block text-danger" *ngIf="error">
							<i class="icon-cancel-circle2 position-left"></i> {{error}}
						</span>
					</div>

					<div class="form-group">
						<!--[disabled]="loading"-->
						<button  type="submit" class="btn bg-blue-400 btn-block">Войти <i 
							[ngClass]="getSubmitButtonClass()"></i></button>
					</div>

					<!--<div class="text-center">-->
						<!--<a href="login_password_recover.html">Forgot password?</a>-->
					<!--</div>-->
				</div>
			</form>
			<!-- /simple login form -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</div>
<!-- /page container -->