<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Заказы по менеджерам</h3>
  </div>

  <div class="panel-body">
    <form class="form-inline">
      <div class="form-group">
        <label for="limit">Кол-во пользователей:</label>
        <input type="number" [(ngModel)]="search.limit" [ngModelOptions]="{standalone: true}"
               (change)="inputSearch()" class="form-control" id="limit"
               [value]="10">
      </div>
      <!--<div class="form-group">-->
        <!--<label for="user_id">Менеджер:</label>-->
        <!--<select [(ngModel)]="search.user_id" name="user_id" (change)="inputSearch()" class="form-control" id="user_id">-->
          <!--<option *ngFor="let item of users_list" [value]="item.id">{{getUserFullName(item)}}</option>-->
        <!--</select>-->
      <!--</div>-->
      <div class="form-group">
        <label for="date_from">Дата от:</label>
        <input type="date" [(ngModel)]="search.date_from" name="date_from" (change)="inputSearch()" class="form-control" id="date_from">
      </div>
      <div class="form-group">
        <label for="date_to">Дата до:</label>
        <input type="date" [(ngModel)]="search.date_to" name="date_to" (change)="inputSearch()" class="form-control" id="date_to">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-default" (click)="exportAsExcelFile('test')">Выгрузить в Excel</button>
      </div>
    </form>
  </div>

  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name)"
            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
          >
            {{col.descr}}

          </th>
        </tr>
        <!--<tr>-->
          <!--<td>-->

          <!--</td>-->
          <!--<td>-->

          <!--</td>-->
        <!--</tr>-->
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td>
            <div>
              <b>{{row['first_name'] + ' ' + row['surname']}}</b>
            </div>
          </td>
          <td>
            <div>
              <b>{{row['name'] + ' ' + row['model'] + ' ' + row['number'] }}</b>
            </div>
          </td>
          <td>
            <div>{{row['cnt']}}</div>
          </td>
          <td>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
