
    <div class="panel panel-flat">
        <div class="panel-heading">
			<h3>Список пользователей</h3>
				<button [routerLink]="['new']" [ripple] type="submit" class="btn active btn-success"><i class="icon-plus22 position-left"></i> Добавить </button>
		</div>

        <div class="panel-body">
        </div>

        <div class="dataTables_wrapper no-footer">
            <div class="datatable-scroll">
                <table class="table datatable-show-all dataTable no-footer" role="grid">
                    <thead>
                        <tr>
                            <th
                            class=""
                            *ngFor="let col of columns"
                            (click)="setSort(col.name)"
                            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
                            >
                                {{col.descr}}

                            </th>
                            <th>
                                Действия
                            </th>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="text" class="form-control" [(ngModel)]="search['full_name']" (change)="inputSearch()"></td>
                            <td><input type="text" class="form-control" [(ngModel)]="search['username']" (change)="inputSearch()"></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>

                        <tr *ngFor="let row of models">
                        	<td>
                                <div>{{row['id']}}</div>
                            </td>
                            <td>
                                <div>{{getUserFullName(row)}}</div>
                            </td>
                            <td>
                                <div>{{row['username']}}</div>
                            </td>
                            <td>
                                <div>{{
                                  row['roles'][0]['title']
                                  }}</div>
                            </td>
                            <td>
                                <div>
                                    <button (click)="toggleBlock(row)" type="button" [ripple] class="btn btn-flat"
                                    [ngClass]="{
                                    'border-warning text-warning-600' : row['blocked'] == 0,
                                    'border-success text-success-600' : row['blocked'] == 1
                                }">{{ row['blocked'] == 1 ? "Разблокировать" : "Заблокировать" }}</button>
                                </div>
                            </td>
                            <!-- <td>
                                <div>
                                        <button (click)="block(row['id'])" type="button" class="btn btn-default">
                                            <i [ngClass]="{'icon-unlocked2' : row['blocked'], 'icon-lock' : !row['blocked']}"></i>{{row['blocked'] ? 'Разблокировать' : 'Заблокировать'}}
                                        </button>
                                </div>
                            </td> -->
                            <td>
                            	<div class="btn-group">
			                    	<button type="button" [ripple] class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Выбрать <span class="caret"></span></button>
			                    	<ul class="dropdown-menu dropdown-menu-right">
										<li>
                                            <a [ripple] [routerLink]="['edit/'+row['id']]"><i class="icon-pencil"></i> Редактировать </a>
                                        </li>
                                        <li>
                                            <a [ripple] (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>
                                        </li>
									</ul>
								</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <pager
			[total]="count"
			[currentPage]="page"
			[pageSize]="10"
			(_setPage)="setPage($event)"
        >

        </pager>

    </div>
