<form (ngSubmit)="onSubmit()" #userForm="ngForm" class="form-horizontal" enctype="multipart/form-data" >
    <div class="panel panel-flat">
        <div class="panel-heading">
            <h5 class="panel-title">Добавить тип клиента<a class="heading-elements-toggle"><i class="icon-more"></i></a></h5>
        </div>

        <div class="panel-body">

            <div [ngClass]="hasError('name')" class="form-group">
                <label class="col-lg-3 control-label">Название:</label>
                <div class="col-lg-9">
                    <input type="text" class="form-control" [(ngModel)]="model.name" name="name">
                    <span *ngIf="errors['name']" class="help-block">{{errors['name'][0]}}</span>
                </div>
            </div>

            <div class="text-left">
                <button type="submit" [ripple] class="btn btn-raised btn-success">Добавить <i class="icon-plus22 position-left"></i></button>
            </div>
        </div>
    </div>
</form>