<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Список действий по пользователям</h3>
  </div>

  <div class="panel-body">
  </div>

  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name)"
            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
          >
            {{col.descr}}

          </th>
        </tr>
         <tr>
            <td></td>
            <td></td>
            <td><select class="form-control" [(ngModel)]="search['user_id']" (change)="inputSearch()">
              <option value=""> -- Выберите -- </option>
              <option *ngFor="let item of users_list" [value]="item.id">{{getUserFullName(item)}}</option>
            </select></td>
            <td>
              <select class="form-control" [(ngModel)]="search['action_id']" (change)="inputSearch()">
                <option value=""> -- Выберите -- </option>
                <option *ngFor="let action of actions_list" [value]="action.id">{{action.label}}</option>
              </select>
            </td>
        </tr>
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td>
            <div>{{row['id']}}</div>
          </td>
          <td>
            <div>{{getTrueDate(row['created_at'])}}</div>
          </td>
          <td>
            <div style="white-space: pre-line">{{getActionSubject(row)}}</div>
          </td>
          <td>
            <div>{{getByUserFullName(row)}}</div>
          </td>
          <td>
            <div>{{getEvent(row)}}</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pager
    [total]="count"
    [currentPage]="page"
    [pageSize]="10"
    (_setPage)="setPage($event)"
  >

  </pager>

</div>
