<div class="row">
	<div class="col-xs-3">
		<div class="sidebar sidebar-secondary sidebar-default">
			<div class="sidebar-content">

				<!-- Sub navigation -->
				<div class="sidebar-category">
					<div class="category-content no-padding">
						<ul class="navigation navigation-alt navigation-accordion">
							<li><a [routerLink]="['/driver/'+id+'/edit']"><i class="icon-three-bars"></i>Профиль</a></li>
							<li><a [routerLink]="['/driver/'+id+'/tariff']"><i class="icon-three-bars"></i>Тарифы</a></li>
							<li><a [routerLink]="['/driver/'+id+'/cars']"><i class="icon-three-bars"></i>Автомобили</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-xs-9">
			<router-outlet></router-outlet>
	</div>
</div>