<div class="panel panel-flat">
  <div class="panel-heading">
    <h3>Список аукционов</h3>
    <button [routerLink]="['/mobile/auction-create']" [ripple] type="submit" class="btn active btn-success"><i class="icon-plus22 position-left"></i> Новый аукцион </button>
  </div>

  <div class="panel-body">
  </div>

  <div class="dataTables_wrapper no-footer">
    <div class="datatable-scroll">
      <table class="table datatable-show-all dataTable no-footer" role="grid">
        <thead>
        <tr>
          <th
            class=""
            *ngFor="let col of columns"
            (click)="setSort(col.name)"
            [ngClass]="{
                            'sorting_asc' : col.name == sort && desc == false, 'sorting_desc' : col.name == sort && desc == true, 'sorting' : col.name != sort
                        }"
          >
            {{col.descr}}

          </th>
        </tr>
        <!-- <tr>
            <td></td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="search['surname']" (change)="inputSearch()">
            </td>
        </tr> -->
        </thead>
        <tbody>

        <tr *ngFor="let row of models">
          <td class="word-wrap">
            <div>{{row['id']}}</div>
          </td>
          <td class="word-wrap">
            <div><button [routerLink]="['/mobile/auction-participants/'+row['id']]" class="btn btn-default">Список участников</button></div>
          </td>
          <td class="word-wrap">
            <div>
              {{row['address']}}
            </div>
          </td>
          <td class="word-wrap">
            {{row['comment']}}
          </td>
          <!--<td>-->
              <!--{{row['car_id']}}-->
          <!--</td>-->
          <!--<td>-->
              <!--{{row['driver_id']}}-->
          <!--</td>-->
          <td class="word-wrap">
              {{getFormattedDate(row['created_at'])}}
          </td>
          <td class="word-wrap">
              {{getStatus(row)}}
          </td>
          <!--<td>-->
            <!--<div class="btn-group">-->
              <!--<button type="button" [ripple] class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Выбрать <span class="caret"></span></button>-->
              <!--<ul class="dropdown-menu dropdown-menu-right">-->
                <!--&lt;!&ndash;<li>&ndash;&gt;-->
                  <!--&lt;!&ndash;<a [ripple] [routerLink]="['/brands/edit/'+row['id']]"><i class="icon-pencil"></i> Редактировать </a>&ndash;&gt;-->
                <!--&lt;!&ndash;</li>&ndash;&gt;-->
                <!--<li>-->
                  <!--<a [ripple] (click)="delete(row['id'])"><i class="icon-x"></i> Удалить </a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</td>-->
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <pager
    [total]="count"
    [currentPage]="page"
    [pageSize]="10"
    (_setPage)="setPage($event)"
  >

  </pager>

</div>
